[project]
	description = RDO Project Website - currently BETA
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jan van Eldik (vaneldik)
[access "refs/for/refs/*"]
	read = group user/Jan van Eldik (vaneldik)
	push = group user/Jan van Eldik (vaneldik)
	label-Code-Review = -2..+2 group user/Jan van Eldik (vaneldik)
	label-Verified = -1..+1 group user/Jan van Eldik (vaneldik)
	rebase = group user/Jan van Eldik (vaneldik)
	removeReviewer = group user/Jan van Eldik (vaneldik)
	submit = group user/Jan van Eldik (vaneldik)
[access "refs/heads/*"]
	read = group user/Jan van Eldik (vaneldik)
	create = group user/Jan van Eldik (vaneldik)
	push = +force group user/Jan van Eldik (vaneldik)
	pushMerge = group user/Jan van Eldik (vaneldik)
[access "refs/tags/*"]
	push = +force group user/Jan van Eldik (vaneldik)
	pushTag = group user/Jan van Eldik (vaneldik)
	pushSignedTag = group user/Jan van Eldik (vaneldik)
